<article class="home__main__section__article animate__animated">
    <div class="home__main__section__article--imagen">
      <a href="/courses/detail/<%= id %>">      
        <div style="background-image: url('/images/courses/<%= images.length ? images[0].name : `not-image.png` %>');" class="home__main__section__article--imagen-product">
      </div>
      </a>
      <img class="home__main__section__article--imagen-sticker" src="/images/<%= sticker %> " alt="">
    </div>
    <div class="home__main__section__article--title">
      <h4><%= title %></h4>
    </div>
</article>    