 <footer class="footer">
    <nav class="footer__nav">
      <ul class="footer__nav--menu">
        <li><a href="/">home</a></li>
        <li><a href="/quienes">quienes</a></li>
        <li><a href="/servicios">servicios</a></li>
        <li><a href="/portfolio">portfolio</a></li>
        <li><a href="/sucursales">sucursales</a></li>
        <li><a href="/contacto">contacto</a></li>
      </ul>
    </nav>
  </footer>