.buttons {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.buttons__primary{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.buttons__secondary{
    background-color: rgb(50, 50, 50);
    color: #fff;
}