<header class="header">

    <a href="/"> <img id="logo" class="header__logo" src="/images/logo.jpg" alt=""></a>

    <button class="header__hamburger">
      <i class="fas fa-bars"></i>
    </button>
    <nav class="header__nav">
      <ul class="header__nav--menu">
        <li>
          <a href="/admin">Cursos</a>
        </li>
        <li>
          <a href="/users">Usuarios</a>
        </li>
      </ul>
      <ul class="header__nav--user">
       
            <li>
              <a href="/courses/add">Agregar</a>
            </li>
       
          <li>
            <a href="/users/logout">Salir</a>
          </li>
       
      
      </ul>
    </nav>
  </header>